.content {
  padding: 8em;
}

.homeLink {
  position: absolute;
  inset: 3rem auto auto 3rem;
  font-size: 2rem;
  color: #000;
}

.title {
  font-size: 7.5rem;
  line-height: 1;
}

.title::after {
  content: "";
  display: block;
  width: 100%;
  margin: 0.2em 0em 0.4em;
  height: 2px;
  background-color: black;
}
