.content {
  display: flex;
  flex-wrap: wrap;
}
.section {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
}

.section:nth-of-type(2) {
  margin-left: auto;
}

.section a:hover {
  text-decoration: underline;
}

.section img {
  margin-right: 0.7em;
}
