:root {
  --primary-clr: #f0f5f9;
  --secondary-clr: #c9d6df;
  --tertiary-clr-1: #52616b;
  --tertiary-clr-2: #1e2022;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-clr);
  color: var(--tertiary-clr-2);
}

a,
a:visited {
  text-decoration: none;
  color: var(--tertiary-clr-2);
}
