@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Playfair Display", serif;
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .home-nav-link {
    @apply relative after:absolute after:top-[55%] after:right-0 after:w-full after:scale-x-0 after:rounded-full
    after:border-[0.075em] after:border-solid after:border-black after:transition-transform after:duration-200 after:ease-out
    after:content-[''] hover:after:scale-x-100;
  }
  .contact-link {
    @apply relative font-medium after:absolute after:top-1/2 after:left-0 after:w-full after:scale-x-0
    after:rounded after:border-[0.075em] after:border-solid after:border-black after:transition-transform
    after:duration-200 after:ease-out after:content-[''] hover:after:scale-x-100;
  }
}
