.name {
  padding: 6em 8em;
}

.name h1 {
  font-weight: 100;
}

.name h1:nth-child(1) {
  font-size: 2rem;
}

.name h1:nth-child(2) {
  font-size: 7.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.pages {
  position: absolute;
  inset: auto 8rem 6rem auto;
  font-size: 5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.pages a {
  display: block;
  font-weight: 800;
  position: relative;
  width: min-content;
}

.pages a::after {
  content: "";
  width: 100%;
  border: 0.05em solid black;
  border-radius: 1em;
  position: absolute;
  top: calc(55.5%);
  right: 0px;
  transform: scaleX(0);
  transition: transform ease-out 250ms;
}

.pages a:hover::after {
  transform: scaleX(1);
}
