.name {
  padding: 6em 8em;
}

.name h1:nth-child(1) {
  font-size: 2rem;
}

.name h1:nth-child(2) {
  font-size: 7.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.pages {
  position: absolute;
  inset: auto 8em 6em auto;
  text-align: end;
  font-size: 5rem;
}

.pages a,
.pages a {
  display: block;
  text-decoration: none;
  color: black;
}

.pages a:hover {
  font-style: italic;
}
