.name {
  padding: 6em 8em;
}

.name h1:nth-child(1) {
  font-size: 2rem;
}

.name h1:nth-child(2) {
  font-size: 7.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.pages {
  position: absolute;
  inset: auto 8rem 6rem auto;
  text-align: end;
  font-size: 5rem;
  list-style-type: none;
}

.pages a {
  display: block;
  font-weight: 800;
}

.pages a:hover {
  font-style: italic;
}
