.projectList {
  list-style-type: none;
}

.projectList h2,
.projectList h3 {
  display: inline-block;
}

.projectList h2 {
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}

.projectList h2::after {
  content: "";
  width: 100%;
  border-top: 0.03em solid black;
  position: absolute;
  top: calc(50% - 0.5px);
  left: 0px;
  transform: scaleX(0);
  transition: transform ease-out 250ms;
}

.projectList a:hover h2::after {
  transform: scaleX(1);
}

.projectList h3 {
  display: inline-block;
  font-weight: 600;
  margin-left: 1em;
}

.projectList h3:before {
  content: url("/images/external-link.svg");
  display: block;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.2em;
}
