.content {
  padding: 8em;
}

.homeLink {
  position: absolute;
}

.line {
  width: 100%;
  margin: 1em 0em 2em;
  height: 2px;
  background-color: black;
}

.title {
  font-size: 7.5rem;
  line-height: 1;
}
