#contact a {
	color: black;
	text-decoration: none;
}
#contact a:hover {
	text-decoration: underline;
}
#contact h1 {
	font-size: 121.5px;
}
#contact img {
	width: 36px;
	margin-right: 16px;
	font-style: italic;
}
#contact main {
	padding: 128px;
}
#contact section {
	margin-bottom: 16px;
	display: flex;
	align-items: center;
}
#contact .contact-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#contact .line {
	width: 100%;
	margin: 32px 0px 32px 0px;
	height: 1px;
	background-color: black;
}
