#contact {
	padding: 64px;
}
#contact a > img {
	width: 36px;
}
#contact .line {
	width: 100%;
	height: 1px;
	background-color: black;
}
#contact .link {
	text-decoration: none;
}
#contact .link:hover {
	text-decoration: line-through;
}
#contact .title {
	padding-bottom: 24px;
	font-size: 81px;
}
