@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital@0;1&display=swap");

#home {
	width: 100vw;
	height: 100vh;
}
.pages {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 128px;
	bottom: 96px;
	align-items: flex-end;
	font-family: "Playfair Display", "Times New Roman", Times, serif;
	font-size: 81px;
}
.pages a,
.pages a:visited {
	text-decoration: none;
	color: black;
}
.pages a:hover {
	font-style: italic;
}
.title {
	padding: 96px;
	padding-left: 128px;
	font-family: "Inter", sans-serif;
}
.title h2 {
	font-size: 36px;
}
.title h1 {
	font-size: 121.5px;
}
