@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital@0;1&display=swap");

::before,
::after,
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
}
.link-back {
	position: absolute;
}
